.product_page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products_list {
  display: flex;
}

.produtsItems ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
  list-style: none;
}
