.products_list {
  margin: 2rem 0;
  display: flex;
  position: relative;
}

.products_Items {
  padding: 0 1rem;
  height: 100vh;
  overflow-y: auto;
}
.products_Items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
}
.products_list_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}
.tuneIcon_btn {
  display: none;
}
.shoes_loader {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tuneIcon_btn {
    display: block;
    background: none;
    border: none;
  }
  .tuneIcon_btn svg {
    font-size: 1.5rem;
  }
  .products_Items {
    flex-basis: 0%;
    width: 100%;
    flex-grow: 1;
  }
}
