.cart_card {
  width: 30rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cart_img_container {
  flex-basis: 50%;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}

.cart_img_container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.5rem;
}
.cart_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-basis: 60%;
  padding: 1rem;
}
.cart_card_brand {
  font-family: "Rokkitt", Georgia, serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.cart_card_name {
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart_card_name:hover {
  display: block;
}

.cart_price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cart_curr_price {
  font-weight: 700;
  font-size: 1rem;
}
.cart_orig_price {
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #64748b;
}
.cart_quantity {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}
.inc_quantity {
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  color: #ffff;
  background-color: #6b7280;
  cursor: pointer;
}
.dec_quantity {
  padding: 0 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  color: #ffff;
  background-color: #6b7280;
  cursor: pointer;
}
.actual_quantity {
  border: 0.1px solid #6b7280;
  border-radius: 0.2rem;
  font-weight: 700;
  background-color: #ffff;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}
.remove_from_cart button {
  padding: 0.5rem 1.5rem;
  background: #ffff;
  color: #818cf8;
  border: 2px solid #818cf8;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}
.remove_from_cart button:hover {
  border: 2px solid #ef4444;
  background-color: #ef4444;
  color: #ffff;
}
.cart_to_wishlist button {
  padding: 0.5rem 1.5rem;
  background: #ffff;
  color: #818cf8;
  border: 2px solid #818cf8;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}
.cart_to_wishlist button:hover {
  color: #ffff;
  border: 2px solid #2563eb;
  background-color: #2563eb;
}

@media (max-width: 768px) {
  .cart_card {
    flex-direction: column;
    width: 20rem;
  }
  .cart_img_container {
    flex-basis: 60%;
  }
  .cart_img_container img {
    object-fit: fill;
  }
}
