.add_address_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 1.5rem;
}
.add_address_heading {
  font-family: "Rokkitt", Georgia, serif;
}

.add_address_form_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.add_address_form_details input {
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #bfdbfe;
  font-size: 0.8rem;
}

.cancel_add_btn {
  display: flex;
  justify-content: space-between;
}

.address_add_btn {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  color: #ffff;
  background-color: #3b82f6;
}

.address_add_btn:hover {
  background-color: #2563eb;
}

.address_dlt_btn {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #dc2626;
  border: 1px solid #dc2626;
}
.address_dlt_btn:hover {
  color: #fff;
  background-color: #dc2626;
}
.dummyInputs_reset_btn {
  display: flex;
  justify-content: space-between;
}
.dummyInputs_btn {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #0ea5e9;
  border: 1px solid #0ea5e9;
}
.dummyInputs_btn:hover {
  color: #fff;
  background-color: #0ea5e9;
}

.reset_btn {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #0ea5e9;
  border: 1px solid #0ea5e9;
}
.reset_btn:hover {
  color: #fff;
  background-color: #0ea5e9;
}
