.filters {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 1.5rem;
  border-right: 1px solid black;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clear_btn {
  background: #0ea5e9;
  color: #ffff;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
.clear_btn:hover {
  background-color: #ffff;
  color: #0ea5e9;
  border: 1px solid #0ea5e9;
}
.price_filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price_filter input {
  width: 10rem;
}
.price_filter h3 {
  font-weight: 500;
}
.low_to_high {
  display: flex;
  justify-content: space-between;
}
.low_to_high p {
  font-weight: 400;
  font-size: 0.8rem;
}
.category_filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.category_filter h3 {
  font-weight: 500;
}
.brand_filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.brand_filter h3 {
  font-weight: 500;
}

.rating_filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rating_filter {
  width: 10rem;
}
.rating_filter h3 {
  font-weight: 500;
}
.filter_price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter_price h3 {
  font-weight: 500;
}
.filters label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.9rem;
  color: #1e293b;
}
.cancel_btn {
  display: none;
}

/* new className Style */

@media (max-width: 768px) {
  .filters {
    display: none;
  }

  .mobile_filters {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    position: absolute;

    background-color: rgba(150, 150, 150, 0.3);
    backdrop-filter: blur(5px);

    overflow-y: auto;
    bottom: 0;
    left: 0;
  }
  .cancel_btn {
    display: block;
    background: none;
    border: none;
  }
  .cancel_btn svg {
    font-size: 2rem;
  }
}
