.footer_section {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 5rem;
  flex-wrap: wrap;
  background-color: #bfdbfe;
}
.social_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.social_links h3 {
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.social_btn {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.social_btn button {
  background-color: none;
  border: none;
  color: #1d4ed8;
  border-radius: 30%;
}
.tag_line {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.tag_line h2 {
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.tag_line p {
  letter-spacing: 0.2rem;
}

.policies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.policies h3 {
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.policies ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}

@media (max-width: 950px) {
  .footer_section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tag_line {
    order: 3;
  }
}
