.signup_component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

.signup_page {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.signup_heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.signup_page label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}
.signup_page label input {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  width: 100%;
}
.signup_btn {
  padding: 0.6rem;
  border: none;
  color: #fff;
  background-color: #2563eb;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.show_signup_password {
  display: flex;
  align-items: center;
}

.show_signup_password button {
  border: none;
  background: none;
  margin-left: -2.5rem;
}

.show_signup_confirm_Password {
  display: flex;
  align-items: center;
}

.show_signup_confirm_Password button {
  border: none;
  background: none;
  margin-left: -2.5rem;
}
@media (max-width: 768px) {
  .signup_page {
    width: 25rem;
  }
}

@media (max-width: 500px) {
  .signup_page {
    width: 20rem;
  }
}
